{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ OutString.clinical_trial_id }}</a>
        <small class="text-muted">{{now.strftime('%A %B, %d %Y %H:%M:%S')}}</small>

          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_trials', clinical_trial_id=OutString.clinical_trial_id )}}">Update</a>
            
          </div>
 
      </div>

    </div>
  </article>
  <!-- Modal -->
  

{% endblock content %}
