{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
			{% if legend != "Update Department" %}
            <div class="form-group">
                {{ form.department_id.label(class="form-control-label") }}
                {% if form.department_id.errors %}
                    {{ form.department_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.department_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.department_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endif %}
			
            <div class="form-group">
                {{ form.department_name.label(class="form-control-label") }}
                {% if form.department_name.errors %}
                    {{ form.department_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.department_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.department_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			<div class="form-group">
                {{ form.managerID.label(class="form-control-label") }}
                {% if form.managerID.errors %}
                    {{ form.managerID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.managerID.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.managerID(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}